/* --------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background-image: url(img/Wall.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}

/* --------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------- */

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

/* -------- HEADINGS -------- */

h1,
h2{
    font-weight: 300;
    letter-spacing: 1px;
}

h1{
    font-size: auto;
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
    word-spacing: 4px;
}

/* --------------------------------------- */
/* HEADER */
/* --------------------------------------- */



.logo{
    height: 125px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 5px
}

.main-nav li{
    display: inline-block;
    margin-left: 10px;
}

/* -------- BUTTONS -------- */

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 15px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #1b1e24;
    transition: background-color 0.2s, border 0.2s, color 0.2s ;
    margin-top: 10px;
}

.btn-full:link,
.btn-full:visited{
    background-color: #1b1e24;
    border: 1px solid #1b1e24;
    color: #D5DDE5;
    margin-right: 15px;
}


.btn:hover,
.btn:active{
    background-color: #2a2d37;
    color: #fff;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #1b1e24;
}


/* -------- Component list -------- */

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 1200px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.link{
    color: #4E5066;
    text-decoration: none;
}

tr:hover .link {
    background:#4E5066;
    color:#FFFFFF;
}

.link:link,
.link:visited{
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.link:hover,
.link:active{
    border-bottom: 2px solid white;
    /*transition: border-bottom 0.2s;*/
}